fastapi
uvicorn[standard]
python-multipart
openai
yt-dlp
python-dotenv
aiofiles
mediapipe==0.10.11
opencv-python
numpy
sqlalchemy
celery
redis
boto3
supabase
stripe
python-jose[cryptography]
requests
